#include <windows.h>
#include <version.h>
//Note: when added or removing headers & resource files, be sure to update the makefile.am to include/remove the dependencies 

MAINICON ICON "7k.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     TKVERMAJ,TKVERMED,TKVERMIN,0
PRODUCTVERSION  TKVERMAJ,TKVERMED,TKVERMIN,0
FILEFLAGSMASK   0x3fL
#ifdef _DEBUG
FILEFLAGS       0x1L
#else
FILEFLAGS       0x0L
#endif
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
			VALUE "Comments",         "Visit 7kfans.com for Seven Kingdoms"
			VALUE "CompanyName",      "lxl"
            VALUE "FileDescription",  "Ten Kingdoms: Ancient Adversaries executable for Windows (from the open-source project)"
            VALUE "FileVersion",      TKVERSION
            VALUE "InternalName",     "10kaa"
			VALUE "LegalCopyright",   "Source code under GPL license"
            VALUE "LegalTrademarks",  "Seven Kingdoms is a trademark of Enlight Software, Ten Kingdoms is only a public fork of this game."
            VALUE "OriginalFilename", "10kaa.exe"
            VALUE "ProductName",      "Ten Kingdoms: Ancient Adversaries"
            VALUE "ProductVersion",   TKVERSION
		END
	END

	BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
